.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75.125rem;
  margin: 0 auto;
  gap: auto;
}

.container h2 {
  color: var(--color-primary);
  text-align: center;
  font-family: var(--font-primary);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
  margin-bottom: 2rem;
}
.container h3 {
  display: none;
  color: var(--color-primary);
  text-align: center;
  font-family: var(--font-primary);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.partnersContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 32px;
  align-items: flex-start;
}

.imageContainer {
  width: 16.9875rem;
  height: 5.1875rem;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .container h2 {
    display: none;
  }

  .container h3 {
    display: block;
  }

  .partnersContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 32px;
    align-items: flex-start;
  }

  .imageContainer {
    width: 9.40625rem;
    height: 5.1875rem;
    flex-shrink: 0;
  }
}
