.whyNowContainer {
  position: relative;
  overflow: hidden;
  padding: 0 1rem;
  box-sizing: border-box;
}

.video {
  position: absolute;
  right: -60rem;
  top: 0;
  z-index: 9;
  min-width: 100%;
  min-height: 100%;
}

.backgroundNoVideo{
  position: absolute;
  /* right: -65rem; */
  top: 0;
  z-index: 9;
  min-width: 100%;
  min-height: 100%;
  background: radial-gradient(80.5% 80.5% at 50% 103.87%, #000041 0%, #0E0E1E 100%);
  background-blend-mode: multiply;
}

.whyNow{  
    display: flex;
    width: 100%;
    padding: 4rem 0rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    box-sizing: border-box;
    position: relative;
    z-index: 99;
    max-width: 710px;
    margin: 0 auto;
    box-sizing: border-box;
  }


.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, auto); 
  gap: 20px; 
  z-index: 99;
  max-width: 75rem;
}

.gridTitle{
  color: #FFF;
  font-family: var(--font-primary);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.72px;
  margin: auto;
 
}

.card{
  display: flex;
  /* width: 378px; */
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(3px);
}

.card h3{
  color: var(--color-secondary);
  font-family: var(--font-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
  margin: 9;
}

.card p{
  color: #FFF;
  font-family: var(--font-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}

@media (min-width: 950px) {
  .video {
    right: 0;
  }
}

@media (min-width: 1250px) {
  .whyNow {
    max-width: 1202px;
  }

}

@media screen and (max-width: 1100px) {
  .grid{
      grid-template-columns: repeat(1, 1fr);
      
  }
}