.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0px 15px;
  gap: 16px;
}
.title {
  color: #f6f8fa;
  font-family: var(--font-primary);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.96px;
  flex: 1 0 0;
  display: flex;
  /* width: 392px; */
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  height: 79px;
  /* padding: 24px; */
  align-items: left;
  flex: 1 0 0;
  gap: 16px;
}

.frameTitle {
  display: flex;
  height: 79px;
  /* padding: 24px; */
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 0;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f6f8fa;
  box-shadow: 0px 4px 32px 0px rgba(30, 93, 93, 0.1);
}

.frameTitle.inactive {
  background-color: white;
}

.frameTitle h2 {
  color: #080915;
  font-family: var(--font-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: left;
  padding: 24px;
}

/* .frameTitle h2:hover{
    color: #00B3B5;
} */

.information {
  padding: 16px;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f6f8fa;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.information h2 {
  color: #080915;
  font-family: var(--font-primary);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.44px;
}
.information p {
  color: rgba(0, 0, 0, 0.8);
  font-family: var(--font-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}

.buttonInformation {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid #00b3b5;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(5px);

  color: #080915;
  text-align: center;
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.buttonInformation:hover {
  border-radius: 5px;
  border: 1px solid #00b3b5;
  background: rgba(0, 179, 181, 0.3);
  backdrop-filter: blur(5px);
}
