.container {
  display: inline-flex;
  padding: 32px 0px 16px 0px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;

  .carrouselContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    scroll-snap-type: x mandatory;
    gap: 3rem;
  }

  .carrouselContainer::before,
  .carrouselContainer::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  .carrouselContainer::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }

  .carrouselContainer::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }

  .carrouselContainer:hover .carrouselContainer-slide {
    animation-play-state: paused;
  }

  .slide {
    display: inline-block;
    animation: 15s slide infinite linear;
    height: 60px;
  }

  .slide img {
    width: 80px;
    height: 24px;
    max-width: none;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2000%);
  }
}
