.socialContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Espaciado entre las tarjetas */
}

.socialCard {
  display: flex;
  width: 276px;
  /* height: 400px; */
  height: fit-content;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 4px 32px 0px rgba(30, 93, 93, 0.1);
  backdrop-filter: blur(3px);
}

.socialCardName {
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.72px;
  margin: 0;
}

.socialCardInfo {
  color: rgba(0, 0, 0, 0.8);
  font-family: var(--font-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}

.socialCardButton {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 16px;
  border-radius: 5px;
  border: 1px solid var(--color-secondary);
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(5px);
  text-decoration: none;

  color: var(--color-primary);
  text-align: center;
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}

.dexToolsSocial {
  height: 336px;
  gap: 1rem;
}

.dexToolsSocial .frameTitle {
  transform: translateY(-14px);
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
  justify-content: flex-start;
}

.dexToolsSocial .socialCardName {
  transform: translateY(-1.2rem);
}

@media screen and (max-width: 790px) {
  .socialContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .frameTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
  .socialCard {
    width: auto;
  }

}
