.footer{
  /* margin: 0 auto; */
  /* position: absolute;
  bottom: 0;
  right: 0;
  left: 0; */
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  flex-direction: column;  

  .background{
    background: #080915;
    margin-top: -6rem;
  }

  .footerContainer{
    display: flex;
    /* padding: 4rem 9.6875rem; */
    padding: 6rem 1rem;
    justify-content: space-between;
    align-items: flex-start;
    background: #080915;
    font-family: "Space Grotesk";
    max-width: 75.125rem; 
    margin: 0 auto;    
    width: 100%;


  
  
    .footerFirstCol{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: .3rem;
  
      .logo{
        width: 8.79544rem;
        height: 1.125rem;
      }
  
      .firstColInformation{
        color: rgba(255, 255, 255, 0.80);
        font-size: 1rem;
        font-style: normal;
        font-weight: 200;
        line-height: 150%; /* 1.5rem */
        width: 16rem;
        font-family: sans-serif !important;
      }
  
      .firstColContact{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.625rem;
        color: #FFF;
        /* font-family: Space Grotesk; */
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  
    .footerSecondCol{
  
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
  
  
      .linksContainer{
        display: flex;
        align-items: flex-start;
        gap: 2rem;
        color: #FFF;      
  
        .links{
          display: flex;
          width: 9.0625rem;
          flex-direction: column;
          align-items: flex-start;
          height: auto;
          gap: 0.625rem;
          
  
          .link{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.625rem;
            color: #FFF;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none; 
          }
        }
      }
  
      .footerButton{
        display: flex;
        padding: 0.5rem 1rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
  
        /* display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.625rem;
        align-self: stretch; */
  
        border-radius: 0.3125rem;
        border: 1px solid #00B3B5;
        color: #FFF;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 0.5rem 1rem;
        
      }
    }
  }
  
  .footerCopyright{ 
    background: #000;
    width: 100%;
  }
  .footerCopyright p{
    color: rgba(255, 255, 255, 0.50);
    font-family: "Space Grotesk";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.015rem;
    max-width: 75.125rem;     
    margin: 0 auto;
    height: 5.75rem;
    flex-shrink: 0;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 4rem 1rem 0;  
  }  

}

.footer img{
    width: 100%;
}


@media screen and (max-width: 780px) {
  .footer img{
    width: 300%;
  }
  .footerContainer{
    flex-direction: column;
    padding: 4rem 0.9375rem;
    gap: 2rem;

    .footerSecondCol {
      .linksContainer{
        flex-direction: column;
      }
    }
  }

  .footerCopyright{
   padding: 0 2rem;  
}
}

@media (min-width: 1200px) {
  .footer{
    padding-inline: 0;
  }
}
