.footerContainer{
  display: flex;
  padding: 4rem 9.6875rem;
  justify-content: space-between;
  align-items: flex-start;
  background: #080915;

  .footerFirstCol{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .3rem;

    .logo{
      width: 8.79544rem;
      height: 1.125rem;
    }

    .firstColInformation{
      color: rgba(255, 255, 255, 0.80);
      font-size: 1rem;
      font-style: normal;
      font-weight: 200;
      line-height: 150%; /* 1.5rem */
      width: 12rem;
    }

    .firstColContact{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.625rem;
      color: #FFF;
      font-family: Space Grotesk;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .footerSecondCol{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;


    .linksContainer{
      display: flex;
      align-items: flex-start;
      gap: 2rem;
      color: #FFF;      

      .links{
        display: flex;
        width: 9.0625rem;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        gap: 0.625rem;
        

        .link{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.625rem;
          color: #FFF;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-decoration: none; 
        }
      }
    }

    .footerButton{
      display: flex;
      padding: 0.5rem 1rem;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;

      /* display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.625rem;
      align-self: stretch; */

      border-radius: 0.3125rem;
      border: 1px solid #00B3B5;
      color: #FFF;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 0.5rem 1rem;
      
    }
  }
}

.footerCopyright{
  color: rgba(255, 255, 255, 0.50);
  /* font-family: Souliyo Unicode; */
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.015rem;

  background: #000;
  width: 94.5rem;
  height: 5.75rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0rem 9.6875rem;
  margin-top: -2rem;
}

@media screen and (max-width: 780px) {
  .footerContainer{
    flex-direction: column;
    padding: 4rem 0.9375rem;
    gap: 2rem;

    .footerSecondCol {
      .linksContainer{
        flex-direction: column;
      }
    }
  }

  .footerCopyright{
   padding: 0 2rem;  
}
}