.heroContainer {
  position: relative;
  padding-top: 5rem;
  overflow: hidden;
}

.video {
  position: absolute;
  right: -65rem;
  top: 0;
  z-index: 9;
  min-width: 100%;
  min-height: 100%;
}

.hero {
  padding: 5rem 1rem;
  max-width: 75.125rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  z-index: 99;
  box-sizing: border-box;
}

.hero .text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-self: stretch;
  max-width: 44.375rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.hero h1 {
  color: #fff;
  font-family: Space Grotesk;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.96px;
  margin: 0;
}

.hero .paragraphs {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.hero .paragraphs p {
  color: #fff;
  font-size: 16px;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  align-self: stretch;
  margin: 0;
}

.tokenOptions {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.tokenOptions div {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.tokenOptions div span {
  color: #00b3b5;
  font-size: 16px;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.tokenOptions div p {
  color: #fff;
  font-size: 16px;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

.auditInfo {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}

.auditInfo span {
  color: #00b3b5;
  font-size: 16px;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  text-decoration-line: underline;
}

.auditInfo p {
  color: #fff;
  font-size: 16px;
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.frameButton{
  display: flex;
  align-items: center;
  gap: 15px;
}

.frameButton p {
  color: #FFF;
  font-family: var(--font-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* font-style: italic; */
}

.button1{
  display: flex;
  width: 161px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #00B3B5;
}

.button1 p {
  text-align: center;
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


@media (min-width: 1250px) {
  .hero {
    flex-direction: row;
    padding-top: 4.3125rem;
    padding-inline: 0;
  }

  .video {
    right: 0;
  }
}
