.join-container{
  border-radius: 2rem;
  background:  rgb(55 65 81);
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 3rem;
  // height: 30rem;
  margin-left: 6rem;
  margin-right: 6rem;
  padding: 4rem;

  justify-content: center;
  align-items: center;

  section {
    
    h2 {
      color: #FFF;
      text-align: center;
      font-family: Montserrat;
      font-size: 1.85rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    button{
      border-radius: 1rem;
      width: 100%;
      background: rgb(175 201 250);
      color:  rgb(55 65 81);
      margin-top: 2rem;
    }

    button:hover {
      background: rgb(140, 161, 201);
    }

    p{
      color: #D2D6DB;
      font-family: Montserrat;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 200;
      line-height: 1.5rem;

    }
  }
  
}

@media screen and (max-width: 780px) {
  .join-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
    margin: 1rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 1800px) {
  .join-container{
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem; 
    }
}