.whyNowContainer {
    position: relative;
    overflow: hidden;
    /* padding: 0 1rem; */
    box-sizing: border-box;
  }
  
  .video {
    position: absolute;
    right: -60rem;
    top: 0;
    z-index: 9;
    min-width: 100%;
    min-height: 100%;
  }

  .backgroundNoVideo{
    position: absolute;
    /* right: -65rem; */
    top: 0;
    z-index: 9;
    min-width: 100%;
    min-height: 100%;
    background: radial-gradient(80.5% 80.5% at 50% 103.87%, #000041 0%, #0E0E1E 100%);
    background-blend-mode: multiply;
  }
  
  .whyNow {
    display: flex;
    width: 100%;
    padding: 4rem 1rem;
    /* flex-direction: column; */
    gap: 2rem;
    box-sizing: border-box;
    position: relative;
    z-index: 99;
    max-width: 710px;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-between;
  }
  
  .whyNowHeading {
    color: #fff;
    font-family: "Space Grotesk";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.72px;
    margin: 0;
  }

  .frameText{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 715px;
  }
  
  .bodyTextContainer {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  
  .whyNowBodyText {
    color: #fff;
    font-family: "Souliyo Unicode";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.32px;
    margin: 0;
  }

  .image{
    justify-content: center;
  }
  
  .buttons{
    gap: 2rem;
  }

  .button1{
    display: flex;
    width: 290px;
    height: 56px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;

    color: white;
    border-radius: 5px;
    border: 1px solid var(--color-secondary);
    background: rgba(0, 179, 181, 0.30);
    backdrop-filter: blur(5px);

    text-align: center;
    font-family: var(--font-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
  }

  .button2{
    display: flex;
    width: 290px;
    height: 56px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;

    color: white;
    border-radius: 5px;
    border: 1px solid var(--color-secondary);
    backdrop-filter: blur(5px);

    text-align: center;
    font-family: var(--font-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */

  }
  
  
  @media (min-width: 950px) {
    .video {
      right: 0;
    }
  }
  
  @media (min-width: 1250px) {
    .whyNow {
      max-width: 1202px;
    }  
  }


  @media screen and (max-width: 1100px) {
      .whyNow {
       flex-direction: column-reverse;       
      }    
      
      .image{
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .button1,
      .button2 {
          width: auto; 
      }
  }
  