.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5rem 1rem;
  max-width: 75.125rem;
  margin: 0 auto;
}

.container h2 {
  color: #080915;
  font-family: var(--font-primary);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.96px;
}

.frame {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 261px;
  flex: 1;
  min-width: 362px;
  max-width: 362px;
}

.imageContainer {
  width: 147px;
  height: 147px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 65, 0.05);
  background: #f7f7f7;
  box-shadow:
    0px -4px 4px 0px rgba(0, 0, 0, 0.08) inset,
    0px 4px 8px 4px rgba(255, 255, 255, 0.8) inset,
    0px 6px 20px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card p {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: var(--font-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}

@media screen and (max-width: 1100px) {
  .frame {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1150px) {
  .frame {
    gap: 1.4rem;
  }

  .card {
    min-width: auto;
    max-width: auto;
  }
}
