.container {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 75.125rem;
  margin: 0 auto;
  z-index: 9;
  position: relative;
}

.brandContainer {
  display: flex;
  width: 1199px;
  padding: 64px 0px 96px 0px;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
}

.brandContainer img {
  max-height: 66px;
}

@media screen and (max-width: 790px) {
  .container {
    flex-wrap: wrap;
    max-width: 100%;
  }

  .brandContainer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .slide {
    width: 33.33%; /* Ajusta el ancho para mostrar 3 en una fila */
    box-sizing: border-box;
    padding: 8px; /* Espacio entre las marcas */
  }
}
