.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75.125rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.title{
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.96px;
}


.tabAccordion{
    width: 1202px;
    /* height: 364px; */
    flex-shrink: 0;  
    /* display: flex; */
    justify-content: space-between;
    /* gap: 2rem; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    

}

.tabPanel{
    display: flex;
    /* align-items: flex-start; */
    box-shadow: 0px 4px 32px 0px rgba(30, 93, 93, 0.10);
    /* max-height: 79px;
    min-height: 79px; */

}

.options{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    /* gap: 2rem;  */
    
    cursor: pointer;
    height: 100%;
    gap: 20px;
}

.optionsIcon{
    display: flex;
    width: 100px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px; 

    border-radius: 5px 0px 0px 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    border-left: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--color-quinary);
}

.frameTitle{
    display: flex;
    width: 100%;
    /* width: 455px; */
    padding: 0 24px;
    height: 79px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--color-quinary);
}

.frameTitle.inactive {
    background-color: white; 
  }

.frameTitle h2{
    color: #080915;
    font-family: var(--font-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
}

.frameTitle h2:hover{
    color: var(--color-secondary);
}

.information{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--color-quinary);
    /* width: 500px; */
    height: 383px;
    flex-shrink: 0;
    padding: 24px;

    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
}

.information h2{
    color: #080915;
    font-family: var(--font-primary);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
}
.information p{
    color: rgba(0, 0, 0, 0.80);
    font-family: var(--font-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.32px;
}

.buttonInformation{
    color: var(--color-secondary);
    font-family: var(--font-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: -0.32px;
    text-decoration-line: underline;
    }

